body {
	background-color:#cce6ff;
	width:100%;
	margin:0;
	height: 100%;
}

header {
	position:fixed;
	left:0;
	top:0;
	text-shadow:1px 1px 2px #888;
	width:100%;
}

h1, h2 {
	display:inline-block;
}

main {
	margin:100px auto;
	width:100%;
	max-width: 1100px;
	font-size:1.2em;
	position:relative;
	text-align:justify;
	transition:.1s;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around; 
}

#description{
	flex: 100%;
}

main>div {
	margin:25px;
	min-width: 250px;
	padding:35px;
	transition:.1s;
	flex:33%;
}

main>div:hover {
	transform:scale(1.1);
}

header, main>div {
	box-shadow: 2px 2px 10px #000;
	background-color:#fff;
}

header:hover h2 {
	animation:colorchange 100s infinite;
}

.wbo-button {
	white-space: nowrap;
	text-decoration: none;
	background: linear-gradient(#C4DFFF, #8FA2BC);
	margin-top: 15px;
	line-height: 60px;
	border-radius: 30px;
	box-shadow: inset 0 0 3px #8FA2BC;
	display: block;
	text-align: center;
	color: black;
	transition: .1s;
}

a{
	color: black;
}

.wbo-button:hover{
	box-shadow: 0 0 5px #C4DFFF;
}

.wbo-button:focus, .wbo-button:active {
	box-shadow: 0 0 5px #0074D9;
  background: linear-gradient(#96E1FF, #36A2FF);
}

input{
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 6px;
	font-size: 1.1em;
	margin: 9px 0;
}

footer{
	font-size: .9em;
	background-position: center;
	position: absolute;
	text-align: center;
	left:0;
	right:0;
	bottom: 0;
}


/* from w3school: https://www.w3schools.com/howto/howto_css_coming_soon.asp */
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
	height: 100%
}

.bgimg {
	/* Background image */
/*	 background-image: url('/w3images/forestbridge.jpg'); */
	/* Full-screen */
	height: 100%;
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	/* Add a white text color to all elements inside the .bgimg container */
	color: black;
	/* Add a font */
	font-family: "Courier New", Courier, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 25px;
}

/* Position text in the top-left corner */
.topleft {
	position: absolute;
	top: 0;
	left: 16px;
}

/* Position text in the bottom-left corner */
.bottomleft {
	position: absolute;
	bottom: 0;
	left: 16px;
}

/* Position text in the middle */
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Style the <hr> element */
hr {
	margin: auto;
	width: 40%;
}